<h1>Listing coach_tours</h1>

<table>
  <thead>
    <tr>
      <th>Coachtour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coach_tours.each do |coach_tour| %>
      <tr>
        <td><%= coach_tour.coachtour_id %></td>
        <td><%= link_to 'Show', coach_tour %></td>
        <td><%= link_to 'Edit', edit_coach_tour_path(coach_tour) %></td>
        <td><%= link_to 'Destroy', coach_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach tour', new_coach_tour_path %>
