<%- model_class = SubHotel -%>
<div class="page-header">
  <h1><%=t '.title', :default => SubHotel %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:subhotel_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sub_hotels.each do |sub_hotel| %>
      <tr>
        <td><%= sub_hotel.id %></td>
        <td><%= sub_hotel.subhotel_id %></td>
        <td><%=l sub_hotel.created_at, format: :long %></td>
        <td>
          <%= link_to sub_hotel_path(sub_hotel), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to sub_hotel_path(sub_hotel), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sub_hotel_path,
            :class => 'btn btn-primary' %>
