<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle.vehicle_id %>
</p>

<p>
  <strong>Coach tour:</strong>
  <%= @vehicle.coach_tour %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
