<%= simple_form_for(@hotel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hotel_id %>
    <%= f.association :coach_tour %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
